@import '../../styles/flexCenter';
@import '../../styles/variables';

.projects-root {
  @include flexCenter(row);
  padding-top: 100px;
  background-color: $main-color;
}

.projects-container {
  @include flexCenter(row);
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  @media (max-width: 600px) {
    margin-top: 0px;
    // height: 1800px;
  }
}
