@import '../../styles/flexCenter';

.home-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(../../images/rocket.png);
  background-size: cover;
  background-position: center;
}

.title {
  @include flexCenter(column);
  font-size: 30px;
  color: white;
  // background-color: black;
  // border: 1px solid white;
  width: 500px;
  height: 200px;
  padding: 45px;
  margin: 125px;
  margin-bottom: 550px;
  h1 {
    margin: 0;
  }
}

.subtitle {
  @include flexCenter(column);
  font-size: 30px;
  color: white;
  // background-color: black;
  // border: 1px solid white;
  width: 500px;
  height: 200px;
  padding: 45px;
  margin: 125px;
  margin-top: 550px;
  h1 {
    margin: 0;
  }
}
